
.wrapper {
}
.wrapper .header {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header img{
  height: 55px;
  width: 160px;
}
.wrapper .header svg {
  width: 55px;
  height: 55px;
}
.wrapper .header h1 {
  font-size: 20px;
  margin-left: 15px;
}
.wrapper .main {
  display: flex;
}
.main .left{
	flex: 1;
	margin-left: 25px;
}
.main .left img{
	border-radius: 10px;
	height: 500px;
}
.main .right{
	flex: 1;
}
.main .card{
	height: 500px;
	margin: 0 25px;
	padding: 15px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(18, 18, 18, 0.1);
}
.wrapper .main h2 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin-top: 20px;
}
.wrapper .main .edit {
  width: 100%;
  text-align: center;
}
.wrapper .main .edit input {
  width: 70%;
  height: 45px;
  margin: 15px 0;
  border: 1px solid #eee;
  padding: 5px 15px;
}
.wrapper .main .btn a {
  display: block;
  width: 70%;
  height: 40px;
  line-height: 40px;
  margin: 15px auto;
  background-color: #407cff;
  text-align: center;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
}
.wrapper .main .line {
  height: 1px;
  width: 60%;
  background-color: #eee;
  margin: 35px auto;
}
.wrapper .main .reg {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.wrapper .main .reg a {
  color: #448AFF;
}

@media(max-width:500px) {
	.wrapper{
		transition: width .2s;
		width: 100%;
	}
	.wrapper .main{
		margin: 0;
	}
	.wrapper .main .left{
		display: none;
	}
	.wrapper .main .right .card{
		margin: 0;
	}
	.wrapper .header h1 {
	    margin-left: 0px;
	}
}
