.main {
  display: flex;
  margin-top: 15px;
}
.main .left {
  width: 28%;
}
.main .left .card-1 {
  padding: 5px;
  margin: 0 10px 15px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.main .left .card-1 h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}
.main .left .card-1 p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}
.main .right {
  flex: 1;
}
.main .right .title {
  font-size: 20px;
  line-height: 40px;
  padding-left: 10px;
  margin: 15px 0;
  border-left: 4px solid #407CFF;
}
.main .right .top {
  display: flex;
  margin: 10px 0;
}
.main .right .top .product-p {
  width: 48%;
  text-align: center;
  padding: 28px;
}
.main .right .top .product-p img {
  border-radius: 8px;
}
.main .right .top .product-info {
  padding: 10px;
}
.main .right .top .product-info h3 {
  margin-top: 25px;
  font-size: 25px;
}
.main .right .top .product-info p {
  color: #666;
  font-size: 15px;
  margin-top: 10px;
}
.main .right .top .product-info .price-new {
  color: #ff5500;
  font-size: 23px;
}
.main .right .top .product-info .price-old {
  color: #666666;
  font-size: 15px;
}
.main .right .top .product-info input {
  width: auto;
  display: inline-block;
}
.main .right .top .product-info .button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}
.main .right .top .product-info .button button {
  padding: 5px 45px;
}
.main .right .middle {
  display: flex;
  margin-top: 15px;
}
.main .right .middle .info {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.main .right .middle .product-p {
  width: 40%;
  text-align: center;
  padding: 40px;
}
.main .right .middle .product-p img {
  border-radius: 8px;
}
.main .right .bottom {
  margin-top: 5px;
}
.main .right .bottom .thumbnail {
  border-radius: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(18, 18, 18, 0.1);
}
.main .right .bottom .thumbnail h3 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 10px;
}
.main .right .bottom .thumbnail p {
  color: #666666;
  margin-top: 10px;
  font-size: 15px;
  margin-left: 10px;
}
@media (max-width: 940px) {
  .wrapper {
    margin: 0 15px;
  }
  .main .left {
    display: none;
  }
}
@media (max-width: 500px) {
  .main {
    margin-top: 5px;
  }
  .main .left {
    display: none;
  }
  .main .right .top {
    display: block;
  }
  .main .right .top .product-p {
    width: 100%;
    padding: 10px;
  }
  .main .right .middle {
    display: block;
  }
  .main .right .middle .product-p {
    width: 100%;
  }
}
