.app {
  background-color: #fff;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 1px 5px rgba(18, 18, 18, 0.1);
  border-radius: 5px;
}
.app .top .item {
  display: flex;
  justify-content: space-between;
  height: 55px;
  border-bottom: 1px solid #eee;
}
.app .top .item .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.app .top .item .right .hxc {
  width: 120px;
  height: 30px;
  padding-left: 5px;
  margin-right: 10px;
  border: 1px solid #eee;
}
.app .top .item .right .xg {
  color: #407cff;
}
.app .top .item .title {
  display: flex;
  align-items: center;
}
.app .top .item .add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  font-size: 20px;
  background-color: #0072FF;
  border-radius: 50%;
  color: #fff;
  margin-left: 15px;
}
.app .head {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.app .head .title {
  font-size: 20px;
}
.app .head .add {
  color: #0072FF;
}
.app .body .jn-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
  padding: 10px 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}
.app .body .jn-item .jn-p {
  border-left: 3px solid #0072FF;
  padding-left: 10px;
  margin-bottom: auto;
}
.app .body .jn-item p {
  margin-bottom: auto;
}
@media (max-width: 500px) {
  .app {
    width: 100%;
  }
}
